<?xml version="1.0"?>
<nlog	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		autoReload="true"
		throwExceptions="false"
		>
	<variable name="appName"
			  value="futils_1706" />
	<variable name="ef6log"
			  value="EF6_LOG" />
	<variable name="logLocation"
			  value="E:\Work\fsap_utils\futils_1706\EntityMetadataClassGen\Logs" />
	<targets async="false">
		<!-- Targets provided by Andy Ehlert -->
		<target type="Database"
				name="SYSTEMLOG"
				connectionString="Data Source=usdca-sql03.corp.lear.com;Initial Catalog=LearLoggingDatabase;Persist Security Info=True;User ID=logginguser;Password=logging#user;Connect Timeout=300"
				commandText="insert into epta_log (date, level, logger, message, exception, environment, system, process_info, proccess_name, process_time, machine_name, call_site, stack_trace) values (@date, @level, @logger, @message, @exception, @environment, @system, @process_info, @process_name, @process_time, @machine_name, @call_site, @stack_trace)">
			<parameter name="@date"
					   layout="${date}"/>
			<parameter name="@level"
					   layout="${level}"/>
			<parameter name="@logger"
					   layout="${logger}"/>
			<parameter name="@message"
					   layout="${message}"/>
			<parameter name="@exception"
					   layout="${onexception:inner=${newline}${exception:format=tostring}}"/>
			<parameter name="@environment"
					   layout="LOCALHOST"/>
			<parameter name="@system"
					   layout="EPTA"/>
			<parameter name="@process_info"
					   layout="${processinfo}"/>
			<parameter name="@process_name"
					   layout="${processname:fullName=true}"/>
			<parameter name="@process_time"
					   layout="${processtime}"/>
			<parameter name="@machine_name"
					   layout="${machinename}"/>
			<parameter name="@call_site"
					   layout="${callsite}"/>
			<parameter name="@stack_trace"
					   layout="${stacktrace}"/>
		</target>
		<target type="Database"
				name="EMAILLOG"
				connectionString="Data Source=usdca-sql03.corp.lear.com;Initial Catalog=LearLoggingDatabase;Persist Security Info=True;User ID=logginguser;Password=logging#user;Connect Timeout=300"
				commandText="insert into epta_email_log (date, level, logger, message, exception, environment, system, machine_name, call_site, stack_trace) values (@date, @level, @logger, @message, @exception, @environment, @system, @machine_name, @call_site, @stack_trace)">
			<parameter name="@date"
					   layout="${date}"/>
			<parameter name="@level"
					   layout="${level}"/>
			<parameter name="@logger"
					   layout="${logger}"/>
			<parameter name="@message"
					   layout="${message}"/>
			<parameter name="@exception"
					   layout="${onexception:inner=${newline}${exception:format=tostring}}"/>
			<parameter name="@environment"
					   layout="LOCALHOST"/>
			<parameter name="@system"
					   layout="EPTA EMAIL LOG"/>
			<parameter name="@machine_name"
					   layout="${machinename}"/>
			<parameter name="@call_site"
					   layout="${callsite}"/>
			<parameter name="@stack_trace"
					   layout="${stacktrace}"/>
		</target>
		<target name="APPMAIL"
				type="mail"
				html="false"
				smtpServer="usdca-dev02"
				from="aehlert@lear.com"
				to="aehlert@lear.com"
				subject="EPTA [LOCALHOST]"
				body="DATE: ${date}${newline}LEVEL: ${level}${newline}LOGGER: ${logger}${newline}CALL SITE: ${callsite}${newline}MACHINE NAME: ${machinename}${newline}PROCESS INFO: ${processinfo}${newline}PROCESS NAME: ${processname:fullName=true}${newline}PROCESS TIME: ${processtime}${newline}MESSAGE:${newline}${newline}${message}${newline}${newline}EXCEPTION: ${newline}${newline}${exception}${newline}${newline}STACK TRACE:${newline}${newline}${stacktrace}${newline}${newline}"
    	/>

		<!-- Targets used for debugging in ePTA, remove before PRODUCTION -->
		<!-- LAYOUTS https://github.com/NLog/NLog/wiki/Layout-renderers -->
		<!--layout="${logger}: ${shortdate}:${time} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"-->
		<target xsi:type="File"
				name="default"
				autoFlush="true"
				layout="${time} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				fileName="${logLocation}\${appName}\Debug.log"
				archiveFileName="${logLocation}\${appName}\Debug_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="10"
				/>
		<!-- Exclusive log for Entity Framework -->
		<target xsi:type="File"
				name="ef6log"
				autoFlush="true"
				layout="${logger}: ${shortdate}:${time} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				fileName="${logLocation}\${appName}\EF6-Debug.log"
				archiveFileName="${logLocation}\${appName}\EF6-Debug_${shortdate}.{##}.log"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				maxArchiveFiles="10"
				/>
		<target xsi:type="Debugger"
				name="DebugLog"
				layout="${logger}: ${shortdate}:${time} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
				/>
	</targets>
	<rules>
		<!-- Rules used for debugging in ePTA, remove before PRODUCTION -->
		<!--<logger name="ePTA.Db.Ef6*" minlevel="Trace" writeTo="DebugLog" />
    <logger name="ePTA.Db.Ef6*" minlevel="Trace" writeTo="ef6log" />-->

		<logger name="*" minlevel="Trace" writeTo="default" />
    <logger name="*" minlevel="Trace" writeTo="DebugLog" />
		
		<!-- Targets provided by Andy Ehlert -->
		<!--<logger name="*"
		        maxlevel="Debug"
		        writeTo="EMAILLOG"/>-->
		<!--<logger name="ePTA.Interface.EMAIL"
				minlevel="Info"
				writeTo="EMAILLOG"/>
		<logger name="*"
				minlevel="Debug"
				writeTo="SYSTEMLOG"/>-->
		<!-- , APPMAIL -->

	</rules>
</nlog>
